.upload-button {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.upload-button input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
  cursor: pointer;
}
.upload-button input[type="file"]:hover + .upload-btn-icon,
.upload-button input[type="file"]:active + .upload-btn-icon {
  border-color: #45ac34;
}
.upload-button input[type="file"]:hover + .upload-btn-icon > .icon-add::before,
.upload-button input[type="file"]:active + .upload-btn-icon > .icon-add::before,
.upload-button input[type="file"]:hover + .upload-btn-icon > .icon-add::after,
.upload-button input[type="file"]:active + .upload-btn-icon > .icon-add::after {
  background-color: #45ac34;
}
.upload-button .preview-img {
  pointer-events: none;
}
.upload-btn-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 27px;
  border: 2px dashed #cecece;
}
.upload-btn-icon .icon-add {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
}
.upload-btn-icon .icon-add::before,
.upload-btn-icon .icon-add::after {
  content: " ";
  position: absolute;
  background-color: #cecece;
  border-radius: 2px;
}
.upload-btn-icon .icon-add::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.upload-btn-icon .icon-add::after {
  top: 0;
  left: 50%;
  width: 4px;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.btn-close {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -10px;
  top: -10px;
  border: 3px solid #555555;
  border-radius: 100%;
  background-color: #555555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.btn-close::before,
.btn-close::after {
  content: " ";
  position: absolute;
  background-color: #ffffff;
  border-radius: 1px;
}
.btn-close::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn-close::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.btn-close:hover,
.btn-close:active {
  border-color: #fa2322;
  background-color: #fa2322;
}
.module-upload-cover {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cover-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 4px;
  border: 1px dashed #cecece;
  background-color: #fff;
}
.cover-item img {
  max-width: 100%;
  max-height: 100%;
  outline: 0;
}
.cover-item:first-child:before {
  content: '封';
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -5px;
  top: -2px;
  width: 28px;
  height: 28px;
  padding-top: 1px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-style: normal;
  background: url(tag.png) no-repeat top center;
  background-size: 100% 100%;
}
.cover-item .btn-set-cover {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 22;
  cursor: pointer;
}
.cover-item .btn-set-cover:before {
  content: '设为封面';
  position: absolute;
  top: 50%;
  left: -4px;
  right: -4px;
  height: 0;
  margin-top: -10px;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
}
.cover-item .btn-set-cover:hover:before,
.cover-item .btn-set-cover:focus:before {
  height: 24px;
  opacity: 1;
}
.cover-item:first-child .btn-set-cover {
  display: none;
}
